<!-- Validation failure messages -->
<% if @submission.errors.any? %>
  <% @submission.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Submission</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_submission" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for csv_attachment -->
      <div class="form-group">
        <label for="csv_attachment" class="control-label">
          Csv attachment
        </label>

        <input type="text" id="csv_attachment" name="csv_attachment" placeholder="Csv attachment" class="form-control" value="<%= @submission.csv_attachment %>">
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @submission.user_id %>">
      </div>

      <button class="btn btn-success">
        Create Submission
      </button>
      or
      <a href="/submissions">Cancel</a>
    </form>
  </div>
</div>
